<!--  <head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head> 
<body>

	<div>
		{% if messages %}
			<ul class="messages">
				{% for message in messages %}
					<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
		<div id='about_me'>
			{{user_details}}
		</div>
		<a href="{% url 'edit' %}">Edit profile</a>
		<a href="{% url 'addListing' %}">Add listing</a>
		<div id='properties'>
			{% for property in properties %}
				<div class="property">{{property}}</div>
				{% if not property.bought_by and landlord%}
					<form method="post" action="{% url 'sell' %}">
						{% csrf_token %}
						<a href="#" class='sold' id='{{property.land_id}}'>Mark as sold</a>
						<input placeholder="Enter contact number of buyer" class='buyer' id='input{{property.land_id}}' name="buyer">				
						<input hidden="" value="{{property.land_id}}" name="land_id">				
						<input id='sbutton{{property.land_id}}' class="sbutton" type="submit" value="Sold">
					</form>
				{% endif %}



			{% endfor %}
		</div>	
		{%if builder%}
			<div id='built'>
			{% for appartment in built %}
				<div class="appartment">{{appartment}}</div>
				{% if not appartment.bought_by %}
					<form method="post" action="{% url 'sell' %}">
						{% csrf_token %}
						<a href="#" class='sold' id='{{appartment.project_id}}'>Mark as sold</a>
						<input placeholder="Enter contact number of buyer" class='buyer' id='input{{appartment.project_id}}' name="buyer">				
						<input hidden="" value="{{appartment.project_id}}" name="project_id">				
						<input id='sbutton{{appartment.project_id}}' class="sbutton" type="submit" value="Sold">
					</form>
				{% endif %}
			{% endfor %}
			</div>
		{%endif%}
	</div>
	<script type="text/javascript">
		$('.buyer').hide()
		$('.sbutton').hide()
		$(".sold").click (function(){
			$('#input'+$(this).attr('id')).show()
			$('#sbutton'+$(this).attr('id')).show()
		});

	</script>

</body> -->




{% load static %}
<html>
	<head>
		<title>Dashboard</title>
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
	</head>
	<body>

<div class="col-md-4 offset-md-4 emp-profile">
            <form method="post">
                <div class="row">
                   
                    <div class="col-md-12">
                        <div class="profile-head">
                                    
                                    
                                   
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" >About</a>
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                   
                </div>
                <div class="row">
                   
                    <div class="col-md-12">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Email Id : </label>
                                                <span>{{ user_details.email_id }}</span>
                                            </div>                                            
                                        </div>
                                        {% if builder %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Company Name : </label>
                                                <span>{{ user_details.name }}</span>
                                            </div>                                            
                                        </div>
                                        {% else %}
                                         <div class="row">
                                            <div class="col-md-12">
                                                <label>Name : </label>
                                                <span>{{ user_details.first_name }}</span>
                                                <span>{{ user_details.last_name }}</span>
                                            </div>                                            
                                        </div>
                                        {% endif %}
                                         <div class="row">
                                            <div class="col-md-12">
                                                <label>Contact Number : </label>
                                                <span>{{ user_details.contact_number }}</span>
                                            </div>                                            
                                        </div>
                             		 {% if builder %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Office Address : </label>
                                                <span>{{ user_details.office_address }}</span>
                                            </div>                                            
                                        </div>
                                        {% else %}
                                         <div class="row">
                                            <div class="col-md-12">
                                                <label>Address : </label>
                                                <span>{{ user_details.address }}</span>
                                            </div>                                            
                                        </div>
                                        {% endif %}	
                                        <br>
                                        <a href="{% url 'edit' %}">Edit profile</a>
										{% if not home_buyer %}
										<br>
										<a href="{% url 'addListing' %}">Add listing</a>
										{% endif %}        
                            </div>
                        </div>
                    </div>
                </div>
            </form>           
        </div>
<html>
	<head>
		<title>Dashboard</title>
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
	</head>


<div class="container-fluid">
	<div class="row">
		{% for property in properties %}
			{% for key, value in property.items %}
	        <div class="col-md-2 col-sm-3 ">
	          <div class="wrimagecard wrimagecard-topimage">
	              <a href="#">
	              <div class="wrimagecard-topimage_header" style="background-color: rgba(119, 178, 88, 0.1)">
	              {{ key }}
	              </div>
	              <div class="wrimagecard-topimage_title">
	                <h4>{{ value }}
	                <div class="pull-right badge" id="WrControls"></div></h4>
	              </div>
	            </a>
	          </div>
	    	</div>
	    	{% endfor %}
    	{% endfor %}

    </div>

    	<div class="row">
		{% for project in projects %}
			{% for key, value in project.items %}
	        <div class="col-md-2 col-sm-3 ">
	          <div class="wrimagecard wrimagecard-topimage">
	              <a href="#">
	              <div class="wrimagecard-topimage_header" style="background-color: rgba(119, 178, 88, 0.1)">
	              {{ key }}
	              </div>
	              <div class="wrimagecard-topimage_title">
	                <h4>{{ value }}
	                <div class="pull-right badge" id="WrControls"></div></h4>
	              </div>
	            </a>
	          </div>
	    	</div>
	    	{% endfor %}
    	{% endfor %}

    </div>
</div>
</body>
       </body>