{% load static %}
<html>
	<head>
		<title>Dashboard</title>
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
	</head>
	<body>


		<a href="{% url 'edit' %}">Edit profile</a>
		{% if not home_buyer %}
		<a href="{% url 'addListing' %}">Add listing</a>
		{% endif %}


<div class="container emp-profile">
            <form method="post">
                <div class="row">
                   
                    <div class="col-md-6">
                        <div class="profile-head">
                                    
                                    
                                   
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                   
                </div>
                <div class="row">
                   
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email Id : </label>
                                                <span>{{ object_details.email_id }}</span>
                                            </div>                                            
                                        </div>
                                        {% if builder %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Company Name : </label>
                                                <span>{{ object_details.name }}</span>
                                            </div>                                            
                                        </div>
                                        {% else %}
                                         <div class="row">
                                            <div class="col-md-6">
                                                <label>Name : </label>
                                                <span>{{ object_details.first_name }}</span>
                                                <span>{{ object_details.last_name }}</span>
                                            </div>                                            
                                        </div>
                                        {% endif %}
                                         <div class="row">
                                            <div class="col-md-6">
                                                <label>Contact Number : </label>
                                                <span>{{ object_details.contact_number }}</span>
                                            </div>                                            
                                        </div>
                             		 {% if builder %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Office Address : </label>
                                                <span>{{ object_details.office_address }}</span>
                                            </div>                                            
                                        </div>
                                        {% else %}
                                         <div class="row">
                                            <div class="col-md-6">
                                                <label>Address : </label>
                                                <span>{{ object_details.address }}</span>
                                            </div>                                            
                                        </div>
                                        {% endif %}	

                                        
                            </div>
                        </div>
                    </div>
                </div>
            </form>           
        </div>

    </body>