   

{% load static %}

<html>
	<head>
		<title>Builder SignUp</title>
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/builder.css' %}">
	</head>
	<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgba(255,255,255,0.1)">
  <a class="navbar-brand" style="padding-right:15px;border-right: white solid 1px" href="{% url 'index' %}">Realtor </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    {% if home_buyer or builder or landlord %}
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="../dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../search">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../login/out">Logout</a>
      </li>
      
    </ul>
    {% else %}
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="../login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../search">Search</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sign Up
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="../signup/home_buyer">Home Buyer</a>
          <a class="dropdown-item" href="../signup/builder">Builder</a>
          <a class="dropdown-item" href="../signup/landlord">Landlord</a>
        </div>
      </li>
    </ul>
	{% endif %}
  </div>
</nav>
<br>
<br>

<div class="container">
    <div class="row ">
		
    	<div class="col-md-5">
			<form style="margin-top:-140px;" action="{% url 'signup_builder' %}" method="post">
			{% csrf_token %}
			{% if success %}
			<div>Sign Up Successful,<a href="{% url 'login_builder' %}">Login now</a></div>
				{% endif %}
			{% if errors %}
			<div>
				Fix the following errors<br/>
				{% for error in errors %}
				<span class="error">{{error}}</span><br/>
				{% endfor %}
			</div>
			{% endif %}
			<div id="contact-form" class="form-container" data-form-container>
			<div class="row">
				<div class="form-title">
					<span>SignUp</span>
				</div>
			</div>
			<div class="input-container">
				<div class="row">
					<span class="req-input" >
						
						{% if name %}
							<input value={{name}} type="text" name="name" required>
						{% else %}
							<input placeholder="Enter Company Name" type="text" name="name" required>
						{% endif %}
					</span>
				</div>
				<div class="row">
					<span class="req-input">
						
							{% if email_id %}
								<input value={{email_id}} type="email" name="email_id" required>
							{% else %}
								<input placeholder="Enter Email" type="email" name="email_id" required>
							{% endif %}

					</span>
				</div>

				<div class="row">
					<span class="req-input">
						
						<input placeholder="Enter Password" type="password" name="password" required>

					</span>
				</div>

				<div class="row">
					<span class="req-input">
						
						<input placeholder="Confirm Password" type="password" name="password2" required>	
					</span>
				</div>

				<div class="row">
					<span class="req-input">
						
						<input placeholder="Enter Phone Number" type="text" name="contact_number" required>
					</span>
				</div>
				<div class="row">
					<span class="req-input message-box">
						
							{% if address %}
								<textarea value={{office_address}} type="text" name="office_address" required></textarea>
							{% else %}
								<textarea placeholder="Enter office address" type="text" name="office_address" required></textarea>
							{% endif %}
				</div>
				<div class="row submit-row">
					<button type="submit" class="btn btn-block submit-form">Submit</button>
				</div>
			</div>
			</div>
			</form>
		</div>
       
	    
		
	
	</div>
</div>
</body>
</html>